$green: #0c8396;
.comments {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 4rem;
}

.comments-button__container {
  text-align: center;
  button {
    border: 2px solid $green;
    padding: 0.5rem;
    background: transparent;
    color: $green;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      background: rgba($green, 0.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
.comments-modal {
  width: 100%;
  padding: 2rem 0;
}

.form {
  background: $green;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    background: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: white 2px solid;
    color: white;
    transition: 0.2s all;
    &:acite {
      transform: scale(0.9);
    }
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  label {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }
  input,
  textarea {
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.2rem 0.4rem;
    &:focus {
      outline: none;
    }
  }
  margin-bottom: 1rem;
}

.half-input {
  width: 45%;
}

.full-input {
  width: 95%;
}

.comments-list {
  margin-top: 2rem;
  li {
    border-bottom: 1px solid gray;
    margin-bottom: 0.5rem;
    font-size: 14px;
    color: gray;
    padding-bottom: 0.4rem;
  }
  .comment-name {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .comments {
    padding: 1rem;
  }
  .half-input {
    width: 95%;
  }
}
