.header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  img {
    width: 50px;
    height: 50px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
.nav {
  a {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      color: #861b0c;
    }
  }
}
