.button {
  background: rgb(47, 197, 125);
  color: #fff;
  cursor: pointer;
  padding: 0.9rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s all;
  svg {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.5rem;
  }
  &:hover {
    background: darken(rgb(47, 197, 125), 2%);
  }
}
